<div class="bootstrap-wrapper mt">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img class="img-fluid" style="width: 80px;" src="/assets/login_icon.png" alt="">
                </div>

                <h1 class="text-center">Login Here</h1>

                <!--Login form -->
                <mat-form-field class="full-width">
                    <mat-label>Username</mat-label>
                    <input type="text" matInput>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput>
                </mat-form-field>

                <div class="container text-center">
                    <button mat-raised-button color="primary">Login</button>

                    <div class="mt">
                    <h4 class="mt text-center ">Don't have an account? <span><a routerLink="/signup">Signup</a></span></h4>

                    <h4 class="text-center "> <span><a routerLink="/signup">Forgot password?</a></span></h4>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>